<!-- Name: Cham Kuen Chow
     Date Updated: Nov 28 2024
     Description: Template for assignment 4
     Email: chowcham@sheridancollege.ca -->

<header>
  <!--1.toolbar-->
  <mat-toolbar>
  <!--Make toolbar-row flex-->
  <mat-toolbar-row class="toolbar-row-flex">
      <div></div>
      <!-- Display TPS after the name of AI-->
      <div><mat-icon>flag</mat-icon>World Nation</div>
      <!--Create a button to open about dialog-->
      <div><button mat-mini-fab (click)="openAboutDialog()" class="switch">
          <mat-icon>info</mat-icon>
      </button></div>
  </mat-toolbar-row>
  </mat-toolbar>
  </header>
    <div>
      Continent<br>
      <!--Create radio buttons to filter displaying country by using continent-->
      <mat-radio-group [(ngModel)]="option" (ngModelChange)="filterCountries()">
        <mat-radio-button value="All">All</mat-radio-button>
        <mat-radio-button value="Africa">Africa</mat-radio-button>
        <mat-radio-button value="Asia">Asia</mat-radio-button>
        <mat-radio-button value="Europe">Europe</mat-radio-button>
        <mat-radio-button value="North America">North America</mat-radio-button>
        <mat-radio-button value="Antarctica">Antarctica</mat-radio-button>
        <mat-radio-button value="Oceania">Oceania</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- checkboxes in template (html) file 
    <mat-checkbox indeterminate="true">Parent task</mat-checkbox>
    <mat-checkbox [(ngModel)]="isChecked1">Child task 1</mat-checkbox>
    <mat-checkbox [(ngModel)]="isChecked2" >Child task 2</mat-checkbox>
    <mat-checkbox [(ngModel)]="isChecked3" labelPosition="after">Child task 3</mat-checkbox>

    <mat-form-field>
      <mat-label>Choose an option</mat-label>
      <mat-select [(ngModel)]="selected">
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2" disabled>Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    -->
    <!-- wrap the card with a grid <div>-->
    <div class="gridblock">
      <!-- For each country in dataSource.data(sorted countries) create a material card -->
      @for(c of dataSource.data;track $index){ 
      <!-- material card -->
      <mat-card (click)="openNationDialog(c)">
      <!-- 1. flag image -->
      <img mat-card-image [src]="getFlagImage(c.Code2)">
      <!-- 2. country name -->
      <mat-card-content>{{c.Name}}</mat-card-content>
      </mat-card>}
    </div>
