<!-- Name: Cham Kuen Chow
     Date Updated: Nov 28 2024
     Description: About page for assignment 4
     Email: chowcham@sheridancollege.ca -->

<!-- About page -->
<!--Title-->
<h1 mat-dialog-title align="center">About</h1>

<!--About content-->
<mat-dialog-content>
{{aboutContent}}
<!--Place the contact method to the center-->
<div align="center">
<mat-icon> email</mat-icon> 
<a href="mailto:ckjacky1989@gmail.com">Cham Kuen Chow</a>
</div>
</mat-dialog-content>

<!--Close button, place it to center-->
<mat-dialog-actions align="center">
<button mat-flat-button color="accent"
mat-dialog-close="close">Close</button>
</mat-dialog-actions>